<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.llhc.video.dao.VerifyVideoDao">
	
	<select id="getVerifyVideos" resultType="com.llhc.video.bean.VerifyVideo">
		select * from verifyvideo
	</select>
	<select id="getVerifyVideoById" resultType="com.llhc.video.bean.VerifyVideo" parameterType="java.lang.Integer">
        select * from verifyvideo where vvid = #{vvid}
   	</select>
   	<select id="getVerifyVideoByName" resultType="com.llhc.video.bean.VerifyVideo" parameterType="java.lang.String">
        select * from verifyvideo where name = #{name}
   	</select>
   	<insert id="addVerifyVideo" parameterType="com.llhc.video.bean.VerifyVideo" useGeneratedKeys="true" keyProperty="vvid">
   		insert into verifyvideo (name, area, type, language, introduce, uid, location, release, update, access, sendtime)
   		 values(#{name}, #{area}, #{type}, #{language}, #{introduce}, #{uid}, #{location}, #{release}, #{update}, #{access}, #{sendtime})
   	</insert>
	<update id="updateVerifyVideo" parameterType="com.llhc.video.bean.VerifyVideo" useGeneratedKeys="true" keyProperty="vvid">
   		update verifyvideo set name=#{name}, area=#{area}, type=#{type}, language=#{language}, introduce=#{introduce}, uid=#{uid}, 
   		location=#{location}, release=#{release}, update=#{update},access=#{access}, sendtime=#{sendtime} where vvid=#{vvid}
   	</update>
   	<delete id="deleteVerifyVideoById" parameterType="java.lang.Integer">  
   		delete from verifyvideo where vvid=#{vvid}
   	</delete>

</mapper>