<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="com/llhc/video/bean/UserMapper.xml"/>
		<mapper resource="com/llhc/video/bean/CommentMapper.xml"/>
		<mapper resource="com/llhc/video/bean/ManagerMapper.xml"/>
		<mapper resource="com/llhc/video/bean/VideoMapper.xml"/>
		<mapper resource="com/llhc/video/bean/VerifyVideoMapper.xml"/>
	</mappers>
	
</configuration>