@charset "utf-8";
/* CSS Document */
html{
	padding-left:10%;
	padding-right:10%;
	overflow:scroll;
	
}
a{color:#007bc4/*#424242*/; text-decoration:none;outline: none;}
a:hover{text-decoration:underline}
a:focus {outline:none; -moz-outline:none;}
ol,ul{list-style:none;padding:0;}
body{
overflow:auto;
}
.main_nav{
	position:absolute;
	left:70%;
	top:20px;
}
.top_topic{
	margin-top:40px;
}
.top_topic h1{
	margin:0;
	float:left;
}
.top_topic .key{
	margin-left:30px;
	width:300px;
	height:40px;
	font-size:18px;
}
.top_topic .search{
	width:80px;
	height:45px;
	margin-left:-4px;
	font-size:18px;
}
.body{
	margin-top:10px;
	overflow:auto;
}
.block2{
	width:75%;
	float:left;
}
.top{
	
}
.top ul{
	margin-bottom:-20px;
	height:40px;
	border-bottom-style:solid;
	border-bottom-color:#dedede;
	border-bottom-width: 1px;
}
.top ul li{
	width:60px;
	float:left;
	text-align:center;
	padding-top:2px;
	padding-bottom:3px;
}
.order ul li{
	margin-right:20px;
	float:left;
	text-align:center;
}
.type_selected{
	background-color:#dedede;
}
hr{
	float:none
	width:80%;
	color:#000;
	height:2px;
}
.list_video ul{
	width:100%;
	overflow:auto;
}
.list_video ul li{
	position: relative;
    float:left;
    width: 132px;
    height: 230px;
    overflow: hidden;
    line-height: 1.6em;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0;
    padding: 0;
    border: 0;
    margin-right:20px;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
.list_video ul li .item_score{
	background-color: #F57C00;
    	color: #fff;
    	position: absolute;
    	top:0px;
    	left: 0px;
    	font-size: 14px;
    	padding: 2px;
    	border-radius: 0 0 0px 0;
}
.list_video ul li h3{
    margin:0;
    margin-top:-10px;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    width: 110px;
    display: block;
    margin-left: 0;
    margin-right: auto;
    color: #999;
    text-align: center;
    padding-top: 5px;
}
.block3{
	width:25%;
	float:right;
	margin-top:-10px;
}
.block3 h3{
	background-color: #f1f1f1;
	text-align:center;
	height:30px;
	padding-top:3px;
}
.block3 ul{
	margin-top:-15px;
}
.block3 ul li{
	padding-left:5px;
	border-bottom-style:solid;
	border-bottom-color:#dedede;
	border-bottom-width: 1px;
	height:30px;
	padding-top:7px;
}
.block3 ul li h4{
	float:left;
	margin:0;
	width:20px;
	heigt:10px;
}
.block3 ul li a{
	text-align:center;
	width:120px;
	float:left;
	
}
.block3 ul li span{
	width: 80px;
	height: 16px;
}
.pager{
	
	text-align:center;
	width:auto;
	height:30px;
	padding:20px 0 5px 0;
	margin-left:auto;
	margin-right:auto;
}
.pager a{
	background-color:#dedede;
	padding:6px 8px;
	margin:0 3px;
}
.pager a:hover{
	color:#fff;
	background-color:grey;
}